In [1]:
from selenium import webdriver
from time import sleep
from Check_Chromedriver import Check_Chromedriver
import pandas as pd
import numpy as np

chromebrowser_ver : 94.0.4606.81

In [2]:
Check_Chromedriver.driver_mother_path = "./driver"
Check_Chromedriver.main()

chromedriver_ver : 94.0.4606.61

In [3]:
options = webdriver.ChromeOptions()
options.add_argument('headless')
options.add_argument("disable-gpu")

driver = webdriver.Chrome("./driver/chromedriver",chrome_options=options)

c:\python37\lib\site-packages\ipykernel_launcher.py:5: DeprecationWarning: use options instead of chrome_options
  """

In [4]:
url ='https://en.wikipedia.org/wiki/The_Munchables'
driver.get(url)

In [5]:
df = pd.read_csv('vgames2.csv')
nan_name =[]
for count,value in enumerate(df["Year"]):
    if(np.isnan(value)==True):
        nan_name.append(df['Name'][count])
        
nan_name[0]

'Rock Band'

In [ ]:
data = pd.DataFrame()
data['Name'] = nan_name
error_name =[]
years_data = []
opt = 1
for count,value in enumerate(nan_name):
    url =f'https://en.wikipedia.org/wiki/{value}'
    driver.get(url)
    check='//*[@id="noarticletext"]/tbody/tr/td/b'
    check_text='Wikipedia does not have an article with this exact name.'
    try:
        if(driver.find_element_by_xpath(check).text == check_text):
#             print("nan1")
            years_data.append(np.nan)
            if(opt == 1):
                continue
        else:
            pass
    except:
        pass
    
    sleep(0.5)
    xpath ='//*[@id="mw-content-text"]/div[1]/table[2]/tbody/tr[6]/td'
    try:
        year = driver.find_element_by_xpath("//th[text()='Release']/following-sibling::td").text
    except:
        try:
            year = driver.find_element_by_xpath("//th[text()='First release']/following-sibling::td").text
        except:
            error_name.append(value)
            years_data.append(np.nan)
#             print("nan2")
            if(opt ==1):
                continue
            
    temp = []
    years = year.split('\n')
    try:
        for i in years:
            try:
                temp.append(int(i[-4:]))
            except:
                pass
    except:
        years_data.append(np.nan)
#         print("nan3")
    try:
        years_data.append(max(temp))
#         print("good")
    except:
        years_data.append(np.nan)
#         print("nan4")

In [15]:
# data["Year"] = years_data
for count,value in enumerate(years_data):
    try:
        data['Year'][count] = int(value)
    except:
        data['Year'][count] = np.nan
        
print("변경된 데이터 : ",len(data['Name'])-data['Year'].isnull().sum())

# for count,value in enumerate(years_data):
#     try:
#         data['Year'][count] = int(years_data)
#     except:
#         data['Year'][count] = np.nan

In [83]:
data.to_csv("fill_nan.csv")

In [74]:
data

                                            Name    Year
0                                      Rock Band  2007.0
1     Yu-Gi-Oh! 5D's Wheelie Breakers (JP sales)     NaN
2    Jewel Link Chronicles: Mountains of Madness     NaN
3             Majesty 2: The Fantasy Kingdom Sim  2009.0
4                                     Famista 64  1997.0
..                                           ...     ...
266                                Freaky Flyers  2003.0
267                               Space Invaders  2600.0
268                                Madden NFL 11     NaN
269                               Yoostar on MTV     NaN
270                                  Bejeweled 3  2010.0

[271 rows x 2 columns]

In [81]:
data['Year'][data[data['Year']==2600].index[0]] = np.nan

c:\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [82]:
data[data['Year']==2600]

Empty DataFrame
Columns: [Name, Year]
Index: []